Fig5.tiff
Fig4.tiff
.Fig1.tiff.icloud
.Fig2.tiff.icloud
.Fig3.tiff.icloud
.Fig4.png.icloud
.Fig4.tiff.icloud
.Fig5.png.icloud
.Fig5.tiff.icloud
.FigS1.tiff.icloud
.FigS2.tiff.icloud
.FigS3.tiff.icloud
.FigS4.tiff.icloud
.FigS5.tiff.icloud
.FigS6.tiff.icloud
.FigS7.tiff.icloud
.Figs.pdf.icloud
Fig1.tiff
Fig2.tiff
Fig3.tiff
Fig4.png
Fig5.png
FigS1.tiff
FigS2.tiff
FigS3.tiff
FigS4.tiff
FigS5.tiff
FigS6.tiff
FigS7.tiff
Figs.pdf
